/* ヘッダー */
header {
  grid-row: head;
  justify-self: center;
  align-self: center;
  font-size: 25px;
}

/* アプリ名 */
header a {
  color: #666;
  text-decoration: none;

}

/* アプリ名 ホバー */
header a:hover {
  color: #f5a123;
  text-decoration: underline;
}

/* ナビゲーションメニュー */
nav {
  grid-row: head;
  justify-self: center;
  align-self: end;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  column-gap: 20px;
}

nav li {
  font-size: 12px;
}

nav li a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}

nav li a:hover {
  text-decoration: underline;
  color: #f5a123;
}

/* ===== PC版の設定 ===== */
@media (min-width: 768px) {
  /* PC版：ヘッダー */
  header {
    justify-self: start;
  }

  /* PC版：ナビゲーションメニュー */
  nav {
    justify-self: end;
    align-self: center;
  }
}
/* ===== PC版の設定ここまで ===== */