.timer-container {
  margin: 20px auto;
  padding: 15px;
  border: 2px solid #ddd;
  border-radius: 3px;
  color: black;
  text-align: center;
}

.timer {
  background: #ddd;
  height: 120px;
  line-height: 120px;
  font-size: 40px;
  margin-bottom: 15px;
}

#start {
  color: white;
  background-color: #F36710;
}

.controls > div {
  cursor: pointer;
  user-select: none;
  width: 100%;
  background: #ddd;
  height: 45px;
  line-height: 45px;
  float: left;
}

.controls {
  grid-row: sub;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px 15px;
  gap: 15px 15px;
  overflow: hidden;
}

.controls > div:hover {
  opacity: 0.7;
}
