<div class="timer-container">
  <div class="timer" id="timer">00:00.000</div>
  <div class="controls">
    <div id="min">分</div>
    <div id="sec">秒</div>
    <div id="reset">リセット</div>
    <div id="start">スタート</div>
  </div>
</div>

<%= audio_tag 'alarm.mp3', id: "alarm-sound" %>

<script language="javascript" type="text/javascript">

  (function() {
    'use strict';

    //定義
    var timer = document.getElementById('timer');
    var min = document.getElementById('min');
    var sec = document.getElementById('sec');
    var reset = document.getElementById('reset');
    var start = document.getElementById('start');

    var alarm = document.getElementById('alarm-sound');

    //この下で定義しているものを使ってカウントダウンする
    var startTime;
    var timeLeft;
    var timeToCountDown = 0;
    var timerId;
    var isRunning = false;

    //現在時刻を代入し、表示の仕方を設定
    function updateTimer(t) {
      var d = new Date(t);  //現在時刻
      var m = d.getMinutes();
      var s = d.getSeconds();
      var ms = d.getMilliseconds();
      m = ('0' + m).slice(-2);  //「０」が表示される桁を設定
      s = ('0' + s).slice(-2);
      ms = ('00' + ms).slice(-3);
      timer.textContent = m + ':' + s + '.' + ms;  //表示される文字列を設定
    }

    //カウンドダウン処理
    function countDown() {
      timerId = setTimeout(function() {
        // var elapsedTime = Data.now() - startTime;
        // timeLeft = timeToCountDown - elapsedTime;
        timeLeft = timeToCountDown - (Date.now() - startTime);  //現在時刻から開始時間を引いて、さらに終わり時間から引くことで残り時間を算出している
        if (timeLeft < 0) {
          alarm.play();  //カウントダウンが０になるとアラーム音が再生される
          isRunning = false;
          start.textContent = 'スタート';
          clearTimeout(timerId);
          timeLeft = 0;
          timeToCountDown = 0;
          updateTimer(timeLeft);
          return;
        }
        updateTimer(timeLeft);
        countDown();
      }, 10);
    }

    // アラーム音が鳴るのを途中で止める
    reset.addEventListener('click', function() {
      alarm.pause();
    });

    min.addEventListener('click', function() {
      alarm.pause();
    });

    sec.addEventListener('click', function() {
      alarm.pause();
    });

    //スタートとストップの処理
    start.addEventListener('click', function() {
      if (isRunning === false) {
        alarm.load();  //スマホでアラーム音が鳴るよう「スタート」ボタンを押した時点でmp3を読み込む
        isRunning = true;
        start.textContent = 'ストップ';
        startTime = Date.now();
        countDown();
      } else {
        isRunning = false;
        start.textContent = 'スタート';
        timeToCountDown = timeLeft;
        clearTimeout(timerId);
      }
    });

    //分入力の処理
    min.addEventListener('click', function() {
      if (isRunning === true) {
        return;
      }
      timeToCountDown += 60 * 1000;
      if (timeToCountDown >= 60 * 60 * 1000) {
        timeToCountDown = 0;
      }
      updateTimer(timeToCountDown);
    });

    //秒入力の処理
    sec.addEventListener('click', function() {
      if (isRunning === true) {
        return;
      }
      timeToCountDown += 1000;
      if (timeToCountDown >= 60 * 60 * 1000) {
        timeToCountDown = 0;
      }
      updateTimer(timeToCountDown);
    });

    //リセット処理
    reset.addEventListener('click', function() {
      timeToCountDown = 0;
      updateTimer(timeToCountDown);
    });
    
  })();
</script>
