/* ログインページ */
.sign-up {
  grid-template-rows:
          [head] 100px
          [signup] auto
          [btn] auto
          [foot] 100px;
}

/* サインアップページ：サインイン */
.sign-up {
  grid-row: signup;
}

/* ヘッダー下のボーダー */
.sign-up::before {
  content: '';
  background: #eeeeee;
  height: 1px;
  grid-column: 1 / -1;
  grid-row: signup;
}

.sign-up h2 {
  text-align: center;
  padding-bottom: 20px;
}

.sign-up b {
  font-size: 13px;
}

.sign-up p {
  color: #666;
  font-weight: normal;
  text-shadow: none;
  font-size: 13px;
  text-align: start;
  margin: 8px 0;
  line-height: 1;
  letter-spacing: 0.05em;
}

.nickname, .email, .password,
.password_confirmation {
  padding-bottom: 20px;
}

/* サインアップページ：ボタン */
.sign-up .btn {
  grid-row: btn;
}

.signup-btn {
  -webkit-appearance: none;
  width: 100%;
  padding: 10px;
  background-color: #f36710;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 16px;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  text-decoration: none;
}

.signup-btn:hover {
  background-color: #f5a123;
  text-decoration: underline;
}

/* ===== PC版の設定 ===== */
@media (min-width: 768px) {
  /* PC版：ページ全体の設定 */
  .sign-up {
    grid-template-rows:
            [head] 100px
            [signup] auto
            [btn] auto
            [foot] 100px;
  }
 
 /* パーツの配置 */
  .sign-up > * {
    grid-column: 3 / -3;
  }
}
/* ===== PC版の設定ここまで ===== */