.input-default {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
  font-family: "游ゴシック", "YuGothic";
  
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}